[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lmSubsets"]
	path = lmSubsets
	url = https://github.com/marc-hofmann/lmsubsets.r
	subdir = pkg
